[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][16]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=700
timerShow=200
viewType=0
visibility=3
wallpaperplugin=org.kde.image

[Containments][16][Applets][109]
immutability=1
plugin=org.kde.latte.separator

[Containments][16][Applets][109][Configuration]
PreloadWeight=0

[Containments][16][Applets][59]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][16][Applets][59][Configuration]
PreloadWeight=0

[Containments][16][Applets][59][Configuration][General]
hoverAction=PreviewWindows
launchers59=applications:systemsettings.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,applications:org.kde.kate.desktop
manualScrollTasksType=VerticalHorizontal
scrollTasksEnabled=true

[Containments][16][Applets][60]
immutability=1
plugin=org.kde.plasma.virtualdesktopbar

[Containments][16][Applets][60][Configuration]
PreloadWeight=0

[Containments][16][Applets][60][Configuration][ConfigDialog]
DialogHeight=577
DialogWidth=803

[Containments][16][Applets][60][Configuration][General]
dontOverrideOpacity=true
idleIndicatorColor=#2c3746
indicatorColor=#ff5858
indicatorStyle=3
labelColor=#cbdbf5
labelStyle=0
occupiedIndicatorColor=#26292e

[Containments][16][Applets][61]
immutability=1
plugin=org.kde.latte.sidebarbutton

[Containments][16][Applets][61][Configuration]
PreloadWeight=7

[Containments][16][Applets][61][Configuration][ConfigDialog]
DialogHeight=480
DialogWidth=640

[Containments][16][Applets][61][Configuration][General]
maximumIconSize=36
screenEdge=6

[Containments][16][ConfigDialog]
DialogHeight=613
DialogWidth=539

[Containments][16][Configuration]
PreloadWeight=0

[Containments][16][General]
advanced=false
alignmentUpgraded=true
appletOrder=59;109;61
durationTime=x1
editBackgroundOpacity=0.5
iconSize=44
inConfigureAppletsMode=true
lastWindowsVisibilityMode=8
lengthExtMargin=10
manualScrollTasksType=VerticalHorizontal
panelShadows=false
panelSize=100
panelTransparency=80
screenEdgeMargin=8
scrollAction=ScrollToggleMinimized
scrollTasksEnabled=true
shadowColor=263238
shadowOpacity=50
shadowSize=45
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=2
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=15
unifiedGlobalShortcuts=false
zoomLevel=4

[Containments][16][Indicator]
customType=org.kde.latte.dashtopanel
enabled=true
enabledForApplets=true
padding=0.20000000298023224
type=org.kde.latte.plasma

[Containments][16][Indicator][org.kde.latte.dashtopanel][General]
style=Ciliora

[Containments][16][Indicator][org.kde.latte.default][General]
activeStyle=Dot
extraDotOnActive=true
glowEnabled=true
glowOpacity=0.2
minimizedTaskColoredDifferently=true

[Containments][16][Indicator][org.kde.latte.unity][General]
style=Dot

[LayoutSettings]
background=
backgroundStyle=0
color=red
customBackground=
customTextColor=fcfcfc
icon=
lastUsedActivity=15209128-b273-487b-a3af-2cdbf22195a4
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2
