[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=200
timerShow=100
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][13][Applets][44]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][13][Applets][44][Configuration]
PreloadWeight=0

[Containments][13][Applets][44][Configuration][General]
launchers59=applications:org.kde.dolphin.desktop,applications:org.kde.gwenview.desktop,applications:systemsettings.desktop,applications:org.kde.konsole.desktop
manualScrollTasksType=Disabled

[Containments][13][Applets][45]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][45][Configuration]
PreloadWeight=0

[Containments][13][Applets][47]
immutability=1
plugin=org.kde.plasma.trash

[Containments][13][Applets][47][Configuration]
PreloadWeight=0

[Containments][13][Applets][65]
immutability=1
plugin=launchpadPlasma

[Containments][13][Applets][65][Configuration]
PreloadWeight=0

[Containments][13][Applets][65][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][65][Configuration][General]
customButtonImage=5961_Defunct_x86.0
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
numberColumns=8
numberRows=6
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][13][ConfigDialog]
DialogHeight=593
DialogWidth=539

[Containments][13][Configuration]
PreloadWeight=0

[Containments][13][General]
activeWindowFilter=FromAllScreens
advanced=false
alignmentUpgraded=true
appletOrder=44;45;47
appletShadowsEnabled=false
backgroundAllCorners=true
durationTime=x1
iconSize=40
inConfigureAppletsMode=true
lengthExtMargin=15
panelShadows=false
panelSize=100
panelTransparency=60
screenEdgeMargin=10
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
themeColors=SmartThemeColors
thickMargin=40
userBlocksColorizingApplets=47
zoomLevel=4

[Containments][13][Indicator]
customType=org.kde.latte.glorious
enabled=true
enabledForApplets=true
padding=0.14000000059604645
type=org.kde.latte.default

[Containments][13][Indicator][org.kde.latte.dashtopanel][General]
lengthPadding=0.05
lineThickness=0.09
maxBackgroundOpacity=0.35
style=Dashes

[Containments][13][Indicator][org.kde.latte.default][General]
enabledForApplets=false
lengthPadding=0
minimizedTaskColoredDifferently=true

[Containments][13][Indicator][org.kde.latte.glorious][General]
colorsForMinimized=true
colorsForSquareApplets=true
glowOpacity=0.75
lengthPadding=0.1
maxBackgroundOpacity=0.2
showShapesIndicators=true

[Containments][13][Indicator][org.kde.latte.plasma][General]
clickedAnimationEnabled=true
lengthPadding=0

[Containments][13][Indicator][org.kde.latte.simple][General]
backgroundOpacity=0.65
clickedAnimationEnabled=true
colorsForMinimized=true
lengthPadding=0.1

[Containments][13][Indicator][org.kde.latte.unity][General]
colorsForMinimized=true
fillShapesForMinimized=false
glowOpacity=0.6
lengthPadding=0.1
shapesAtForeground=true
style=Dot

[LayoutSettings]
activities=
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=15209128-b273-487b-a3af-2cdbf22195a4
launchers=
preferredForShortcutsTouched=true
showInMenu=true
textColor=fcfcfc
version=2

[ScreenMapping]
screenMapping=
