[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=false
enableKWinEdges=false
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
location=4
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=true
settingsComplexity=4
timerHide=500
timerShow=100
viewType=0
visibility=4
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:systemsettings.desktop,applications:org.kde.ksysguard.desktop,applications:thunar.desktop,applications:org.kde.konsole.desktop,applications:atom.desktop,applications:visual-studio-code.desktop,applications:jetbrains-phpstorm.desktop,applications:jetbrains-datagrip.desktop,applications:firefox-developer-edition.desktop,applications:firefox.desktop,applications:appimagekit_3a48058ef277d45ae2228089429c0259-Telegram_Desktop.desktop,applications:trello.desktop

[Containments][1][ConfigDialog]
DialogHeight=599
DialogWidth=659

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=true
appletOrder=2
blurEnabled=false
dotsOnActive=true
durationTime=x1
iconSize=40
inConfigureAppletsMode=true
indicateAudioStreams=false
lengthExtMargin=1
maxLength=60
middleClickAction=None
mouseWheelActions=false
panelSize=10
shadowOpacity=45
shadows=All
showGlow=false
showOnlyCurrentActivity=false
showOnlyCurrentScreen=true
thickMargin=19
titleTooltips=false
useThemePanel=false
zoomLevel=11

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[LayoutSettings]
activities=
background=
color=blue
disableBordersForMaximizedWindows=false
lastUsedActivity=15209128-b273-487b-a3af-2cdbf22195a4
launchers=
preferredForShortcutsTouched=false
showInMenu=true
textColor=fcfcfc
version=2
